altgraph==0.17
appdirs==1.4.4
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
distlib==0.3.1
docopt==0.6.2
extratools==0.8.2.1
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.25
numpy==1.20.3
pandas==1.2.4
pefile==2019.4.18
prefixspan==0.5.2
py4j==0.10.9
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
regex==2021.7.6
RegexOrder==0.2
scikit-learn==0.24.2
scikit-multilearn==0.2.0
scipy==1.6.3
six==1.16.0
sklearn==0.0
sortedcontainers==2.4.0
tensorflow-cpu=2.7.0
threadpoolctl==2.1.0
toolz==0.11.1
urllib3==1.26.6
virtualenv==20.4.6
virtualenvwrapper-win==1.2.6
Werkzeug==2.0.1
